
 

  .f-right {
   text-align: right;
 }
 .widget-title{
    
    font-family: 'Satisfy', sans-serif;
    font-size: 44px;
    color: #FFB03B;
}

.navbar{
  
  background-color: rgba(7, 7, 7, 0.877);
  height: 80px;
}
.boton{
  
  background-color: rgba(7, 7, 7, 0.699);

}