

<nav class="navbar">
  
    <div class="container-fluid">
      <a class="navbar-brand">
        <h4 class="widget-title">Alacarta</h4>    
      </a>
      <div class="dropdown boton rounded">
        
        <button class="btn btn-outline-secondary  dropdown-toggle boton" type="button" id="dropdownMenuButton1"
          data-bs-toggle="dropdown" aria-expanded="false">    
        </button>
        
        <ul class="dropdown-menu dropdown-menu-end boton " aria-labelledby="dropdownMenuButton1">

          <div class="d-flex flex-column  flex-shrink-0  boton">
            <a class="dropdown-item " style="color:#030303" >
              <li><a class="dropdown-item active" (click)="logOut()"> <i class="bi bi-power"></i>  Salir</a></li>

            </a>
          </div>
      
        </ul>
      </div>
      
    </div>
    
  </nav>
