   <!-- menu -->
   <section id="menu-list" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center marb-35">
          <h1 class="header-h m-4">Carta Menu</h1>
          <h4 class="header-p m-4"> Crea ahora tu menu 
            <br> <h6>
             Ten en cuenta que en los cuatro platos dos deben ser veganos
            </h6> </h4>
        </div>
        <div class="col-md-12  text-center gallery-trigger">
          <ul>
            <li><a class="filter" data-filter="all" (click)="showAll()"> ver todo</a></li>
            <li><a class="filter" data-filter=".category-1">-------</a></li>
            <li><a class="filter" data-filter=".category-2">-------</a></li>
            <li><a class="filter" data-filter=".category-3"   (click)="pastas()">Pastas</a></li>
          </ul>  
          <form action="">
            <div class="container input-group">
              <input type="text" class="form-control" #inputText >
             
            <button (click)="onInput(inputText.value)" type="submit" class="btn btn-primary"><i class="bi bi-search"></i> buscar</button>
            </div> 
          </form>
        </div>
        
      </div>
    </div>

  </section>
  <!--/ menu -->

<div class="text-center ">
  <div class="row cardo">
    <div class="col " *ngFor="let item of items">
      <div class="card cont " style="width: 18rem;">
        <img class="crop" [src]="item.image" alt="">
        <div class="card-body">
          <h5 class="card-title"> <strong>
              {{item.title}} 
            </strong></h5>
            <h6 class="type-plato" *ngIf="item.vegan == true"> plato vegano</h6>  
            <h6 class="popular" *ngIf="item.veryPopular == true">popular <i class="bi bi-gem m-2"></i></h6>
            <h5 *ngIf="item.glutenFree == true">--libre de gluten--</h5>
            
          <h5 class="card-precio m-4" *ngIf="item.pricePerServing" >$ {{item.pricePerServing}}</h5>
          <h5 class="card-title"></h5>
          <a></a>
           <a class="btn  btn-outline-success m-2"  [routerLink]="['/menu',item.id]" target="_blank" >Preparación</a>
          <a class="btn btn-outline-success m-2" (click)="addItem(item)" ><i class="bi bi-check2-square "></i></a>
          <a class="btn btn-outline-danger m-2"  (click)="removeItem(item)"><i class="bi bi-file-x"></i> </a>        
        </div>
      </div>   
    </div>
  </div>
</div>


