body {
	font-size: 15px;
   
    color: #717f86;
    font-size: 16px;
	font-family: 'Open Sans', sans-serif;
    
    overflow-x: hidden; 
}

.footer {
    background-color: #222;
}

h3{
    color: aliceblue;
    padding-top: 10px;
}



.list-horizontal li {
    display: inline-block;
}


#banner{
    background:  linear-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.5)),
    url(../../../assets/img/banner-bg.jpg) no-repeat center top;
    
    background-size: cover;
     
}
h2{
   color: aliceblue;
  
}

.header-h {
    margin-top: 20px;
    color: #FFB03B;
    font-size: 46px;
    font-family: 'Satisfy', sans-serif;
    font-weight: 300px;
    -webkit-text-stroke: 0.1px rgb(155, 22, 4);  
}

.list-group-item{
    content: center;
    background-color: rgba(0, 0, 0, 0.856);
    color: rgb(219, 217, 217);
}

.mb-1{
    font-family: 'Roboto', sans-serif;
}

